body {
    padding: 10%;
    background-image: -webkit-linear-gradient(top, white, gray);
}

.about {
    background-color: rgb(71, 62, 62);
    margin: auto;
    width: 60%;
    border: 2px solid lightgray;
    font-family: tahoma;
    color: white;
    padding: 10%;
}

.top {
    text-align: center; 
}