* {
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}

body { 
    background-image: -webkit-linear-gradient(top, white,gray);
}

.header{
    padding: 14%;
}

.propic {
    border-radius: 50%;
    height: 140px;
    width: 140px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.propic:hover {
    opacity: .6;
}

.tname {
    margin: auto;
    font-family: verdana;
    font-size: 35px;
    text-align: center;
}

.tsubname {
    font-family: tahoma;
    font-size: 22px;
    text-align: center;
}

.tsubname span {
    font-family: tahoma;
    font-size: 23px;
    color: orangered;
}

.paragraph {
    margin-left: auto;
    margin-right: auto;
    display: block;
    padding-top: 120px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    text-align: center;
    color: rgb(31, 31, 230);
}
.paragraph:first-letter {
    text-align: center;
    font-size: 40px;
    color: white;  
}
.paragraph1 {
    margin-left: auto;
    margin-right: auto;
    display: block;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    text-align: center;
    color: rgb(31, 31, 230);
}