.homebuttons a {
    font-size: 40px;
    color: white;
    text-decoration: none;
    text-align: center;
}

.homebuttons p {
    color: white;
    width: 500px;
    height: 50px;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(9, 22, 17);
    padding: 35px;
    transition: width 2s;
}

.homebuttons p:hover {
    background-color:rgb(62, 87, 79) ;
    color: orangered ;
    width: 1100px;
}