.button p {
    background-color: black;
    height: 20px;
    width: 50px;
    text-align: center; 
    margin-left: auto;
    margin-right: auto;
    display: block;
    color: gray;
    padding: 15px 15px;
    font-family: tahoma;
}

.button p:hover {
    background-color: gray;
    color: black;
    border-bottom: 3px solid white;
    height: 20px;
    width: 50px;
}

p {
    text-decoration: none;
}