body {
    padding: 10%;
    background-image: -webkit-linear-gradient(top, white, gray);
}

.sat {
    padding: 50px;
    border: 2px solid lightgray;
    background-color: white;
}
table {
    font-family: Arial;
    border-collapse: collapse;
    width: 80%;
    margin: auto;
}

th {
    color: orangered;
    border: 1px solid gainsboro;
    font-size: 20px;
    text-align: center;
    padding: 10px;
}
td {
    border: 1px solid gainsboro;
    font-size: 18px;
    text-align: left;
    padding: 8px;
}
tr:nth-child(even) {
    background-color: gainsboro;
}
