.topnav {
    overflow: hidden;
    background-color: rgb(9, 22, 17);
}

.res {
    padding-left: 20px;
    float: left;
    display: block;
    color: white;
    text-align: center;
    font-size: 25px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.topnav a {
    float: right;
    display: block;
    color: white;
    text-align: center;
    padding: 25px 25px;
    text-decoration: none;
    border-left: 1px white;
    font-family: Arial, Helvetica, sans-serif;
}

.topnav a:hover {
    background-color: rgb(62, 87, 79);
    color: orangered;
    border-bottom: .5px solid orangered;
}